@import './fonts.less';
@import './font-class-utility.less';
@import './themes.less';
@import './reset.less';

body {
	color: var(--color-base-content);
	width: 100vw;
	height: 100vh;
	margin: @spacing-none;
	padding: @spacing-none;
	background: var(--color-base);
	font-family: @font-family;
	font-size: 100%;
	overflow: hidden;
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
}
