[data-theme=''],
[data-theme='light'] {
	--color-primary: #7380ff;
	--color-primary-dark: darken(#7380ff, 5%);
	--color-primary-content: #1f2937;
	--color-secondary: #ffa551;
	--color-secondary-dark: darken(#ffa551, 5%);
	--color-secondary-content: #1f2937;
	--color-accent: #13b981;
	--color-accent-dark: darken(#13b981, 5%);
	--color-accent-content: #1f2937;
	--color-neutral: #2b323c;
	--color-neutral-dark: darken(#2b323c, 5%);
	--color-neutral-content: #a6adbb;
	--color-disabled: #cdcdcd;
	--color-disabled-content: darken(#cdcdcd, 10%);
	--color-base: #e6e6e6;
	--color-base-dark: lighten(#e6e6e6, 5%);
	--color-base-darker: lighten(#e6e6e6, 10%);
	--color-base-content: #1f2937;
	--color-info: #1f2937;
	--color-info-dark: darken(#1f2937, 5%);
	--color-info-content: #d4d4d6;
	--color-success: #13b981;
	--color-success-dark: darken(#13b981, 5%);
	--color-success-content: #1f2937;
	--color-warning: #ffbe00;
	--color-warning-dark: darken(#ffbe00, 5%);
	--color-warning-content: #1f2937;
	--color-error: #f43f5e;
	--color-error-dark: darken(#f43f5e, 5%);
	--color-error-content: #1f2937;
	--color-elevation: 31, 41, 55;
}

[data-theme='dark'] {
	--color-primary: #13b981;
	--color-primary-dark: darken(#13b981, 5%);
	--color-primary-content: #1f2937;
	--color-secondary: #ffa551;
	--color-secondary-dark: darken(#ffa551, 5%);
	--color-secondary-content: #1f2937;
	--color-accent: #7380ff;
	--color-accent-dark: darken(#7380ff, 5%);
	--color-accent-content: #1f2937;
	--color-neutral: #2b323c;
	--color-neutral-dark: darken(#2b323c, 5%);
	--color-neutral-content: #a6adbb;
	--color-disabled: #cdcdcd;
	--color-disabled-content: darken(#cdcdcd, 10%);
	--color-base: #1f2937;
	--color-base-dark: lighten(#1f2937, 5%);
	--color-base-darker: lighten(#1f2937, 10%);
	--color-base-content: #d4d4d6;
	--color-info: #1f2937;
	--color-info-dark: darken(#1f2937, 5%);
	--color-info-content: #d4d4d6;
	--color-success: #13b981;
	--color-success-dark: darken(#13b981, 5%);
	--color-success-content: #1f2937;
	--color-warning: #ffbe00;
	--color-warning-dark: darken(#ffbe00, 5%);
	--color-warning-content: #1f2937;
	--color-error: #f43f5e;
	--color-error-dark: darken(#f43f5e, 5%);
	--color-error-content: #1f2937;
	--color-elevation: 230, 230, 230;
}
