[data-theme=''],
[data-theme='light'] {
	--color-primary: #13b981;
	--color-primary-content: #1f2937;
	--color-secondary: #ffa551;
	--color-secondary-content: #1f2937;
	--color-accent: #7380ff;
	--color-accent-content: #1f2937;
	--color-neutral: #2b323c;
	--color-neutral-content: #a6adbb;
	--color-disabled: #cdcdcd;
	--color-disabled-content: darken(#cdcdcd, 10%);
	--color-base: #e6e6e6;
	--color-base-dark: lighten(#e6e6e6, 5%);
	--color-base-darker: lighten(#e6e6e6, 10%);
	--color-base-content: #1f2937;
	--color-info: #1f2937;
	--color-info-content: #d4d4d6;
	--color-success: #13b981;
	--color-success-content: #1f2937;
	--color-warning: #ffbe00;
	--color-warning-content: #1f2937;
	--color-error: #f43f5e;
	--color-error-content: #1f2937;
	--color-elevation: rgba(31, 41, 55, 0.16);
}

[data-theme='dark'] {
	--color-primary: #13b981;
	--color-primary-content: #1f2937;
	--color-secondary: #ffa551;
	--color-secondary-content: #1f2937;
	--color-accent: #7380ff;
	--color-accent-content: #1f2937;
	--color-neutral: #2b323c;
	--color-neutral-content: #a6adbb;
	--color-disabled: #cdcdcd;
	--color-disabled-content: darken(#cdcdcd, 10%);
	--color-base: #1f2937;
	--color-base-dark: lighten(#1f2937, 5%);
	--color-base-darker: lighten(#1f2937, 10%);
	--color-base-content: #d4d4d6;
	--color-info: #d4d4d6;
	--color-info-content: #1f2937;
	--color-success: #13b981;
	--color-success-content: #1f2937;
	--color-warning: #ffbe00;
	--color-warning-content: #1f2937;
	--color-error: #f43f5e;
	--color-error-content: #1f2937;
	--color-elevation: rgba(230, 230, 230, 0.16);
}
